BOT_TOKEN=BOTFATHER_BERGAN_TOKEN
ADMIN_IDS=SIZNING_TELEGRAM_ID
TIMEZONE=Asia/Tashkent
LOG_LEVEL=INFO
SEED_DEMO_COMPETITION=false
SCHEDULER_INTERVAL_SECONDS=60

REQUIRED_CHANNEL_1_ID=@alaziz_academy
REQUIRED_CHANNEL_1_NAME=Al-Aziz Academy
REQUIRED_CHANNEL_1_URL=https://t.me/alaziz_academy
REQUIRED_CHANNEL_2_ID=@abdulaziz_avazovichY
REQUIRED_CHANNEL_2_NAME=Abdulaziz Avazovich
REQUIRED_CHANNEL_2_URL=https://t.me/abdulaziz_avazovichY
