BOT_TOKEN=1234567890:REPLACE_WITH_BOTFATHER_TOKEN
DATABASE_URL=sqlite+aiosqlite:///data/alaziz_voting.db
ADMIN_IDS=123456789
TIMEZONE=Asia/Tashkent
LOG_LEVEL=INFO
SEED_DEMO_COMPETITION=false
SCHEDULER_INTERVAL_SECONDS=60

# Majburiy obuna kanallari tayyor qo‘yilgan.
# Botni ikkala kanalga ham administrator qiling.
REQUIRED_CHANNEL_1_ID=@alaziz_academy
REQUIRED_CHANNEL_1_NAME=Al-Aziz Academy
REQUIRED_CHANNEL_1_URL=https://t.me/alaziz_academy
REQUIRED_CHANNEL_2_ID=@abdulaziz_avazovichY
REQUIRED_CHANNEL_2_NAME=Abdulaziz Avazovich
REQUIRED_CHANNEL_2_URL=https://t.me/abdulaziz_avazovichY
